@media (min-width: 1000px) {


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {

font-family: "Nunito", sans-serif;
 
}

.title {
    font-weight: 800;

}

.header_container{
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    padding-inline: 24px;
    padding: 20px;
    
}

.header_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin-inline: auto;



  
}

.country{

    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    padding-bottom: 28px;
    transition: transform 0.2s ease-in-out;
    margin-top : 15px;
    padding-right: 5px;
    width: 200px;

 

}

.country h3{
    font-size: 0.97em;
    padding-left: 10px;
    margin-top: 5px;
}

.country:hover{
    transform: scale(1.04);
}


.countries-card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-inline: auto;
    max-width: 1000px;
    padding-top: 50px;
  
}

.country a{
    background-color: white;
    color: black;
    text-decoration: none;
}




.infos{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 5px;
    font-size: 12px;
    padding:  5px 10px;
}

.country img{
    width: 200px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 4px; 
}


.countries-card-container-2 {


    margin-inline: auto;
    max-width: 100%;

    
}

.country-details-cont{
    display: flex;
    flex-direction: row;
    padding: 50px;


}

.country-details-cont img {

    width: 40%;
   
}

.info-table{

    display: flex;
    align-items: start;
    padding-left: 100px;
    flex-flow: column;

}



.country-details-cont h3{
    font-size: 3em;
    flex-shrink: 1;
}

.row{
    padding-top: 10px;
   
}


.alignprops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
  
}

.search-filter{

    display: inline-flex;
    padding: 20px;
    gap: 10px;
    width: 100%;
}

.search-input{

    padding: 5px;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
    width: 20%;
   
}

.search-input input{

    overflow: hidden;
    flex-grow: 1;
    width: -webkit-fill-available;

    
}

.filter{
    padding: 5px;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
    width: 20%;
}



.back-button{

    margin-top: 86px;
    margin-left: 50px;
    box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1);
    width: 7%;
    border-radius: 5px;
    padding: 5px;

}
.back-button i{
    padding-left: 5px;
    
}

   
}
@media (max-width: 900px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html, body {
        font-family: "Nunito", sans-serif;
    }

    .title {
        font-weight: 800;
        font-size: 18px; 
    }

    .header_container {
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 16px; 
    }

    .header_contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        margin-inline: auto;
    }



    .country:hover {
        transform: scale(1.04);
    }



    .countries-card-container {
        display: flex;
        gap: 15px; 
        flex-wrap: wrap;
        margin-inline: auto;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        
    }

    .infos {
        display: flex;
        flex-direction: column;
        gap: 2px; 
        font-size: 15px; 
        padding: 5px 8px;
    }


}
